body{
    background-color: #000;
    color: whitesmoke;
    cursor: url('../images/cursor_alex_bustamante.png'), auto;
}

nav{
    color: whitesmoke;
}
a{
    color: whitesmoke;
    text-decoration: none;
    
}
ul{
    list-style-type: none;
}

.cursor{
    animation: cursorAnimation .5s infinite alternate;
}

@keyframes cursorAnimation {
    from{
        transform: rotate(180);
    }
    to{
        transform: rotate(0);
    }
}